DATABASE_URL=your_neon_postgres_connection_string
PORT=8081
CLERK_SECRET_KEY=your_clerk_secret_key
RESEND_API_KEY=your_resend_api_key
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
STREAM_API_KEY=your_stream_api_key
STREAM_API_SECRET=your_stream_api_secret
ADMIN_EMAIL=your_admin_email
ADMIN_PASSWORD=your_admin_password
TEMP_CLAN_LEADER_PASSWORD=your_temp_clan_leader_password
FRONTEND_URL=http://localhost:5173
EXTRA_ALLOWED_ORIGINS=http://192.168.85.23:5173,http://172.23.0.1:5173,http://172.29.0.1:5173,http://172.22.0.1:5173,http://172.19.0.1:5173
APP_ENV=development
DATABASE_DIRECT_URL=your_neon_postgres_direct_connection_string_without_pooler
